body {
    background-color: rgb(167, 204, 250);
    margin: 60px;
}

header {
    background-color: rgb(255, 234, 196);
    border: 10px groove white;
    display: block;
    margin: 12.5px 225px 12.5px 225px;
    padding: 25px 25px 80px 25px;
    height: 85px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 40px;
}

h4 {
    color: rgb(19, 67, 139);
    text-justify: auto;
    font-size: 40px;
}

h5 {
    color: rgb(19, 67, 139);
    text-justify: auto;
    font-size: 25px;
}

p {
    color: rgb(248, 248, 248);
    background-color: rgb(19, 67, 139);
    font-size: 24px;
    margin: 12.5px;
    padding: 12.5px;
}

ul {
    background-color: rgb(19, 67, 139);
    font-size: 24px;
    margin: 50px 12.5px 50px 12.5px;
    padding: 0px 25px 0px 25px;
}

ol {
    background-color: rgba(27, 188, 83, 0.811);
    font-size: 24px;
    margin: 50px 12.5px 50px 12.5px;
    padding: 0px 25px 0px 25px;
}

li {
    color: rgb(248, 248, 248);
    font-size: 24px;
    text-decoration: double;
    margin: 12.5px;
    padding: 12.5px;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.work {
    color: rgb(248, 248, 248);
    background-color: rgb(19, 67, 139);
    font-size: 24px;
    margin: 12.5px;
    padding: 12.5px;
}

.education {
    color: rgb(248, 248, 248);
    background-color: rgb(19, 67, 139);
    font-size: 24px;
    margin: 12.5px;
    padding: 12.5px;
}
